body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}





/*color classes for gains vs. losses*/
.positive {
  color: green;
}

.negative {
  color: red;
}

.jumbotron {
  height: 100%;
  margin-bottom: 0;
}
