body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*color classes for gains vs. losses*/
.positive {
  color: green;
}

.negative {
  color: red;
}

.jumbotron {
  height: 100%;
  margin-bottom: 25px;
  border-radius: 25px;
  background-color: white;
}

.quote-render {
  border: thin solid gray;
  border-radius: 25px;
}

.add-form {
  border: thin solid gray;
  border-radius: 25px;
  padding: 10px;
}

.edit-form {
  border: thin solid gray;
  border-radius: 25px;
  padding: 10px;
}

.market-pulse {
  border: thin solid gray;
  border-radius: 25px;
  padding: 10px;
}

.portfolio-holdings {
  border: thin solid gray;
  border-radius: 25px;
  padding: 10px;
  clear: both;
}

th {
  text-align: center;
}

.performance {
  font-size: 20px;
}

