body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*.navbar {
  background-image: url('stock-exchange.jpg');
}*/

/*.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-image: url('stock-exchange.jpg');
}*/

/*color classes for gains vs. losses*/
.positive {
  color: green;
}

.negative {
  color: red;
}

.jumbotron {
  height: 100%;
  margin-bottom: 25px;
  border-radius: 25px;
  background-color: white;
}

.quote-render {
  border: thin solid gray;
  border-radius: 25px;
  font-size: 20px;
}

.add-form {
  border: thin solid gray;
  border-radius: 25px;
  padding: 10px;
}

.edit-form {
  border: thin solid gray;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
}

/*.detailed-quote {
  border: thin solid gray;
  border-radius: 25px;
  padding: 10px;
  margin-left: 220px;
  margin-right: 220px;
  margin-bottom: 10px;
}*/

.market-pulse {
  border: thin solid gray;
  border-radius: 25px;
  padding: 10px;
  font-size: 20px;
}

.portfolio-holdings {
  border: thin solid gray;
  border-radius: 25px;
  padding: 10px;
  clear: both;
  font-size: 20px;
}

th {
  text-align: center;
}

.performance {
  font-size: 25px;
  border: thin solid gray;
  border-radius: 25px;
  padding: 10px;
}

.market-pulse.ng-enter {
  transition: 0.5s linear all;
  opacity: 0;
}

.market-pulse.ng-enter.ng-enter-active {
  transition: 0.5s linear all;
  opacity: 1;
}


