<footer class="footer">
      <div class="container">
        <h5 class="text-muted" style="color: #C8C8C8;">Kyle A. Rattet, CFA</h5>
          <ul id="social" class="list-inline">
                            <li>
                                <a href="https://github.com/KyleRattet" class="btn-social btn-outline"><i class="fa fa-2x fa-github" style="color: #C8C8C8;"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/pub/kyle-rattet-cfa/85/a10/463" class="btn-social btn-outline"><i class="fa fa-2x fa-linkedin" style="color: #C8C8C8;"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/KRattet" class="btn-social btn-outline"><i class="fa fa-2x fa-twitter" style="color: #C8C8C8;"></i></a>
                            </li>
                            <li>
                                <a href="mailto:krattet@gmail.com" class="btn-social btn-outline"><i class="fa fa-2x fa-envelope" style="color: #C8C8C8;"></i></a>
                            </li>
                        </ul>
      </div>
</footer>
