<div class="row text-center">

<h1 ng-hide="welcome"><strong>Welcome to Mock Investor</strong><span><h5>Please sign in to view your portilio.</h5></span></h1>
<h1 ng-show="welcome"><strong>Welcome back to Mock Investor, {{userName}}!</strong></h1>
  <a href="#/research">
  <button type="submit" class="btn btn-primary btn-lg">Research</button>
  </a>

  <a href="#/portfolio">
  <button type="submit" class="btn btn-primary btn-lg">View Portfolio</button>
  </a>
<hr>
<index-data></index-data>


</div>

<!--     <footer>
      <span>Kyle Rattet, CFA&nbsp;\\&nbsp;2015</span>
    </footer> -->
