  <h1 class="text-center"><strong>Portfolio</strong></h1>
  <hr>

  <br>

  <div class="performance">
    <h2 class="text-center">Portfolio Performance&nbsp;<span><button type="submit" ng-hide="positions" ng-click="updateLast(); updatePortfolio();positions = !positions" class="btn btn-success btn-sm">Expand <span class="glyphicon glyphicon-plus-sign"></span></button></h2>
    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Cost Basis</th>
          <th>Market Value</th>
          <th>Percent Performance</th>
          <th>Dollar Performance</th>
        </tr>
      </thead>
      <tbody>
          <td>{{ initialValue() | currency }}</td>
          <td>{{ portfolioMarketValue() | currency }}</td>
          <td><span ng-class="{'positive':portfolioMarketValue() - initialValue() > 0, 'negative':portfolioMarketValue() - initialValue() < 0}">{{(portfolioMarketValue()/initialValue()-1)*100 | number:1}}%</span></td>
          <td><span ng-class="{'positive':portfolioMarketValue() - initialValue() > 0, 'negative':portfolioMarketValue() - initialValue() < 0}">{{portfolioMarketValue() - initialValue() | currency}}</span></td>
        </tr>
      </tbody>
    </table>
    </div>

    <br>



  <div ng-show="positions" class="portfolio-holdings">

    <h2 class="text-center">Portfolio Holdings&nbsp;<span><button type="submit" ng-hide="positions" ng-click="updateLast(); updatePortfolio();positions = !positions" class="btn btn-success btn-sm">Expand <span class="glyphicon glyphicon-plus-sign"></span></button></span><span><button type="submit" ng-show="positions" ng-click="positions = !positions" class="btn btn-danger btn-sm">Collapse <span class="glyphicon glyphicon-minus-sign"></span></button></span></h2>

  <div class="row edit-form" ng-show="edit">
  <h2 class="text-center">Edit Position</h2>

    <form>
      <div class="col-xs-2 form-group">
        <label>Symbol</label>
        <input type="text" class="form-control" id="symbol" ng-model="stock.ticker">
      </div>
      <div class="col-xs-2 form-group">
        <label>Price</label>
        <input type="text" class="form-control" id="price" ng-model="stock.costBasis">
      </div>
      <div class="col-xs-2 form-group">
        <label>Type</label>
        <select class="form-control" ng-model="stock.side">
          <option>Buy</option>
          <option>Sell</option>
        </select>
      </div>
      <div class="col-xs-2 form-group">
        <label>Share Amount</label>
        <input type="number" class="form-control" id="shares" ng-model="stock.shares" placeholder="Quantity">
      </div>
      <div class="col-xs-2 form-group">
        <label>Transact</label>
        <button type="submit" ng-click="updateStock(stock._id, stock)" class="btn btn-success">Submit Transaction <span class="glyphicon glyphicon-ok-sign"></span</button>
      </div>
    </form>

  </div>

  <br>
  <div ng-show="positions">
  <div class="portfolio-table-label">
    <label>Filter Positions <span class="glyphicon glyphicon-search"></span> </label>
    <input ng-model="searchText">
    <span><strong>Sort Portfolio <span class="glyphicon glyphicon-sort"></span> </strong><select class="form-inline" ng-model="sort">
      <option value='ticker'>Stock</option>
      <option value='shares'>Position</option>
      <option value='costBasis'>Cost Basis</option>
      <option value='last'>Last</option>
      <option value='initial'>Initial Value</option>
      <option value='marketValue'>Market Value</option>
      <option value='dollarPerformance'>$ Performance</option>
      <option value='percentPerformance'>% Performance</option>
      <option value='side'>Long/Short</option>
      <option value='date'>Transaction Date</option>
    </select>
    <button type="submit" ng-click="updateLast(); updatePortfolio()" class="btn btn-success btn-sm">Refresh Prices <span class="glyphicon glyphicon-refresh"></button>
    <span>Last Updated : {{refresh | date : 'MMM d, y h:mm:ss a'}}</span>
  </div>
  <br>

  <div class="bs-example" data-example-id="hoverable-table">
    <table class="table table-bordered table-striped text-center">
      <thead >
        <tr>
          <th>Stock</th>
          <th>Position</th>
          <th>Cost Basis</th>
          <th>Last</th>
          <th>Initial Value</th>
          <th>Market Value</th>
          <th>$ Performance</th>
          <th>% Performance</th>
          <th>Long/Short</th>
          <th>Transaction Date</th>
          <th>Update Position</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stock in portfolio | filter: searchText | orderBy : sort">
          <td>{{stock.ticker}}</td>
          <td>{{stock.shares}}</td>
          <td>{{stock.costBasis | currency}}</td>
          <td>{{stock.last | currency}}</td>
          <td>{{stock.costBasis * stock.shares | currency}}</td>
          <td>{{stock.last * stock.shares | currency}}</td>
          <td><span ng-class="{'positive': stock.last * stock.shares - stock.costBasis * stock.shares > 0, 'negative':stock.last * stock.shares - stock.costBasis * stock.shares < 0}">{{stock.last * stock.shares - stock.costBasis * stock.shares | currency}}</span></td>
          <td><span ng-class="{'positive':((stock.last * stock.shares)/(stock.costBasis * stock.shares)-1)*100 > 0, 'negative':((stock.last * stock.shares)/(stock.costBasis * stock.shares)-1)*100 < 0}">{{((stock.last * stock.shares)/(stock.costBasis * stock.shares)-1)*100 | number:1}}%</span></td>
          <td>{{stock.side | side }}</td>
          <td>{{stock.date | date: 'M/d/yy h:mm a'}}</td>
          <td class="text-center">
          <button ng-hide="name" ng-click="editStock(stock._id)" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span></button>
          <button ng-click="deleteStock(stock._id)" class="btn btn-danger"><span class="glyphicon glyphicon-remove-circle"></span></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>

    <div class="performance">
    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Cost Basis</th>
          <th>Market Value</th>
          <th>Percent Performance</th>
          <th>Dollar Performance</th>
        </tr>
      </thead>
      <tbody>
          <td>{{ initialValue() | currency }}</td>
          <td>{{ portfolioMarketValue() | currency }}</td>
          <td><span ng-class="{'positive':portfolioMarketValue() - initialValue() > 0, 'negative':portfolioMarketValue() - initialValue() < 0}">{{(portfolioMarketValue()/initialValue()-1)*100 | number:1}}%</span></td>
          <td><span ng-class="{'positive':portfolioMarketValue() - initialValue() > 0, 'negative':portfolioMarketValue() - initialValue() < 0}">{{portfolioMarketValue() - initialValue() | currency}}</span></td>
        </tr>
      </tbody>
    </table>
    </div>

  </div>

  <br>


  <div ng-show="positions" class="jumbotron">

  <h2 class="text-center">Portfolio Value</h2>

    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <nvd3-line-chart
          data="portfolioData"
          xAxisTickFormat="xAxisTickFormatFunction()"
          height="500"
          width="700"
          showXAxis="true"
          showYAxis="true"
          isArea="true"
          useInteractiveGuideLine="true"
          yAxisLabel="Portfolio Market Value"
          xAxisLabel="Date"
          margin='{left:100,top:20,bottom:100,right:20}'
          forcey="[75700,76000]"
          >
        <svg></svg>
        </nvd3-line-chart>
      </div>
    </div>


  </div>





    </div>







