  <div class="row add-form">

    <form>
      <div class="col-xs-2 form-group">
        <label>Symbol</label>
        <input type="text" class="form-control" id="symbol" ng-model="stockData.Symbol">
      </div>
      <div class="col-xs-2 form-group">
        <label>Price</label>
        <input type="text" class="form-control" id="price" ng-model="stockData.LastTradePriceOnly">
      </div>
      <div class="col-xs-2 form-group">
        <label>Type</label>
        <select class="form-control" ng-model="side">
          <option>Buy</option>
          <option>Sell</option>
        </select>
      </div>
      <div class="col-xs-2 form-group">
        <label>Share Amount</label>
        <input type="number" class="form-control" id="shares" ng-model="shares" placeholder="Quantity">
      </div>
      <button type="submit" ng-click="addStock(stockData.Symbol)" class="btn btn-success">Submit Transaction</button>
    </form>

  </div>
